<!DOCTYPE html>
<html lang="ru">
    <!-- Head секция документа -->
    ${require('html?interpolate&attrs=false&minimize=false!../_app/head.html')}

    <body>
        <section class="outer-wrap" data-html-class="main-page js-main-page">
            <div class="inner-wrap">
                <!-- Хэдер -->
                ${require('html?interpolate&attrs=false&minimize=false!../Header/header.html')}

                <div class="content js-content">
                    <h1>Оплата прошла успешно</h1>

                    <div class="payment-msg-b">
                        <div class="payment-msg__content-b">
                            <img src="../img/svg/ok.svg" alt="" class="payment-msg__ok-icon">
                            <div class="payment-msg__text-1">Спасибо за покупку</div>
                            <div class="payment-msg__text-2">Страховые полисы отправлены на почту client@domain.ru</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>