/* -------------------- Общие элементы -------------------- */

//.test {
//    color: #000;
//    background-color: #fff;
//    width: 200px;
//    height: 50px;
//    position: fixed;
//    top: 50px;
//    right: 50px;
//    z-index: 2000;
//    font-size: 14px;
//}

// Хлебные крошки

//.bread-crumbs {
//    position: absolute;
//    width: 100%;
//    display: block;
//    margin-top: 1.8rem;
//    text-align: center;
//    list-style-type: none;
//    transition: margin-top @font_tr;
//    z-index: 100;
//}
//
//.bread-crumbs-item {
//    display: inline;
//}
//
//.bread-crumbs-separator {
//    display: inline;
//    margin: 0 2px;
//    font: 600 11px/34px @sans;
//    color: #1a1a1a;
//    transition: font @font_tr;
//
//    &:before {
//        content: ' / ';
//        margin-right: 3px;
//        color: rgba(0, 0, 0, .5);
//    }
//}
//
//.bread-crumbs-link {
//    font: 600 11px/34px @sans;
//    color: fade(#000, 50%);
//    letter-spacing: 1.3px;
//    text-transform: uppercase;
//    text-decoration: none;
//    transition: font @font_tr, color @font_tr;
//
//    &._current {
//        display: inline;
//        cursor: default;
//    }
//}

// Ховеры для не-тача

//.no-touch {
//    .bread-crumbs-link {
//        &:not(._current) {
//            &:hover {
//                color: #000;
//            }
//        }
//    }
//}

//@media (max-width: 700px) {}