/* ------------------- Подключаем шрифты ------------------ */

// rub
@font-face
    font-family: 'rub';
    src: url('../fonts/RUBSN.eot');
    src: local('☺'),
    url('../fonts/RUBSN.woff') format('woff'),
    url('../fonts/RUBSN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

// Geometria Narrow
//@font-face
//    font-family: 'geometria_narrow_regular';
//    src: url('../fonts/geometrianarrow-webfont.eot');
//    src: url('../fonts/geometrianarrow-webfont.eot?#iefix') format('embedded-opentype'),
//    url('../fonts/geometrianarrow-webfont.woff2') format('woff2'),
//    url('../fonts/geometrianarrow-webfont.woff') format('woff'),
//    url('../fonts/geometrianarrow-webfont.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;

// Geometria Narrow Light
//@font-face
//    font-family: 'geometria_narrow_light';
//    src: url('../fonts/geometrianarrow-light-webfont.eot');
//    src: url('../fonts/geometrianarrow-light-webfont.eot?#iefix') format('embedded-opentype'),
//    url('../fonts/geometrianarrow-light-webfont.woff2') format('woff2'),
//    url('../fonts/geometrianarrow-light-webfont.woff') format('woff'),
//    url('../fonts/geometrianarrow-light-webfont.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;

// Geometria Narrow Medium
//@font-face
    //font-family: 'geometria_narrow_medium';
    //src: url('../fonts/geometrianarrow-medium-webfont.eot');
    //src: url('../fonts/geometrianarrow-medium-webfont.eot?#iefix') format('embedded-opentype'),
    //url('../fonts/geometrianarrow-medium-webfont.woff2') format('woff2'),
    //url('../fonts/geometrianarrow-medium-webfont.woff') format('woff'),
    //url('../fonts/geometrianarrow-medium-webfont.ttf') format('truetype');
    //font-weight: normal;
    //font-style: normal;

// Geometria Narrow Bold
//@font-face
    //font-family: 'geometria_narrow_bold';
    //src: url('../fonts/geometrianarrow-bold-webfont.eot');
    //src: url('../fonts/geometrianarrow-bold-webfont.eot?#iefix') format('embedded-opentype'),
    //url('../fonts/geometrianarrow-bold-webfont.woff2') format('woff2'),
    //url('../fonts/geometrianarrow-bold-webfont.woff') format('woff'),
    //url('../fonts/geometrianarrow-bold-webfont.ttf') format('truetype');
    //font-weight: normal;
    //font-style: normal;

// Включаем выровненные по вертикали цифры
//*
//    font-variant-numeric: lining-nums !important;
//    -moz-font-feature-settings: "lnum" !important;
//    -ms-font-feature-settings: "lnum" !important;
//    -webkit-font-feature-settings: "lnum" !important;
//    font-feature-settings: "lnum" !important;