///* -------------------- Слайдер на Главной -------------------- */
//
//.main-slider-b {
//    position: fixed;
//    top: 0;
//    left: 60px;
//    width: 100%;
//    min-height: 640px;
//    height: 100%;
//    display: block;
//    margin: 0;
//    padding: 0;
//    background-color: #fff;
//    z-index: 1;
//}
//
//._bg-slider-hidden {
//    .main-slider-b {
//        opacity: 0;
//    }
//}
//
//.main-slider-b-info {
//    display: block;
//    margin: 0;
//    padding: 0;
//    min-height: 640px;
//    height: 100%;
//    background-color: transparent;
//    z-index: 10;
//}
//
//.main-slider-cont {
//    position: absolute;
//    top: 0;
//    left: 0;
//    height: 100%;
//    width: 100%;
//}
//
//.main-slider-item {
//    -webkit-flex-shrink: 0;
//    -ms-flex: 0 0 auto;
//    flex-shrink: 0;
//    text-align: left;
//    background-color: transparent;
//    background-repeat: no-repeat;
//    background-size: cover;
//
//    &.swiper-slide-active {}
//}
//
//.main-slider-inner-wrap {
//    top: 8rem;
//    left: 11.2rem;
//    width: 51rem;
//    z-index: 10;
//    transition: top @resize_tr, left @resize_tr, width @resize_tr;
//}
//
//.main-slider-title {
//    margin: 0;
//    padding: 0;
//    font: 800 5rem/5.2rem @gnr;
//    color: #fff;
//    text-transform: uppercase;
//    letter-spacing: 3px;
//    transition: font @resize_tr;
//}
//
//.main-slider-text {
//    width: 75%;
//    margin: 3.8rem 0 0 0.4rem;
//    padding: 0;
//    font: 400 1.9rem/2.5rem @gnr;
//    color: #fff;
//    text-transform: none;
//    letter-spacing: 0.3px;
//    transition: margin @resize_tr, font @resize_tr;
//}
//
//.main-slider-link {
//    left: 5px;
//    margin-top: 2.6rem;
//    color: #fff;
//    border-color: #fff;
//
//    &:after {
//        background-color: #fff;
//    }
//}
//
//.main-slider-paging {
//    bottom: 0.8rem !important;
//    transition: bottom @resize_tr;
//}
//
//// Ховеры для не-тача
//
//.no-touch {
//    .main-slider-link {
//        &:hover {
//            color: #000;
//        }
//    }
//}
//
//@media (max-width: 470px) {
//    .main-slider-item {
//        background-position: 34% 50% !important;
//    }
//}
//
//@media (min-width: 1600px) {
//    .main-slider-link {
//        height: 40px;
//    }
//}