.footer
    height: 126px
    text-align: right
    
.f-logos-b
    position: absolute
    top: 32px
    left: 30px
    width: 340px
    height: 70px
    display: flex
    transition: all $resize_tr
    
    @media $desktop
        left: 40px
    
.f-logo
    height: 70px
    
    &[data-icon="visa"]
        width: 58px
        margin-right: 27px
    
    &[data-icon="mcard"]
        width: 67px
        margin-right: 26px
        
    &[data-icon="verified"]
        width: 62px
        margin-right: 20px
        
    &[data-icon="secure"]
        width: 69px

.f-text
    bottom: 49px
    right: 30px
    position: absolute
    max-width: 500px
    display: inline-block
    font: 13px/20px $ar
    color: #5f5f5f
    transition: all $resize_tr
    
    @media $desktop
        right: 40px
        max-width: inherit
    
